@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Righteous&family=Stardos+Stencil:wght@400;700&display=swap');

body{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
}
header {
   width: 100%;
   height: 94px;
   background-color: #0f172a;
   display: flex;
   justify-content: center;
}

.topo__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
    gap: 1.2rem;
}

.topo__text{
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #f1f5f9;
}

main{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.entrada__saida-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 2rem;
    width: 100%;
    height: 815px;
    align-items: center;

}
.entradas{
    width: 443px;
    height: 647px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    border-radius: 14px;
    align-items:center;
    justify-content:center;
    text-align: center;
}

.entrada__cidade{
    display: flex;
    flex-direction: column;
    color: #0f172a;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    gap: 0.4rem;
}
.entrada__pais{
    display: flex;
    flex-direction: column;
    color: #0f172a;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    gap: 0.4rem;

}

.botao__consulta{
    width: 120px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #d5d1cd;
    font-family: "Stardos Stencil", system-ui;
    font-size: 0.7rem;
    font-weight: 1000;
    cursor: pointer;
}
.botao__consulta:hover{
    background-color: #85878c;
}
#input__cidade{
    border: none;
    border-radius: 5px;
    background-color:#c5c2be;
    width: 200px;
    height: 30px;
    font-family: "Stardos Stencil", system-ui;
}

#input__cidade::placeholder{
    text-align: center;
    font-family: "Stardos Stencil", system-ui;
    font-size: 15px;
}

#input__pais{
    border: none;
    border-radius: 5px;
    background-color:#c5c2be;
    width: 200px;
    height: 30px;
    font-family: "Stardos Stencil", system-ui;
}

#input__pais::placeholder{
    text-align: center;
    font-family: "Stardos Stencil", system-ui;
    font-size: 15px;
}

.saida__de__dados{
    width: 846px;
    height: 647px;
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    border-radius: 14px;
    color: #0f172a;
}

